@import "/sass/utils/variables";

/*stilos del BG*/
.section-1
{
  background-color: #2f303a;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(rgb(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container__fluid
{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.solutions__title
{
  width: 696px;
  height: 120px;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  font-size: 44px;
  line-height: 60px;
  padding-top: 200px;
}