@import "../utils/variables";

/* estilos del footer*/
footer
{
    background-color: $bg-color;
    min-height: 252px;
}

footer .container
{
    display: flex;
}

.list__city
{
    color: $white;
    letter-spacing: 0.03em;
    line-height: 24px;
    width: 231px;
    min-height: 21px;
    font-style: normal;
}

.contact__foot
{
    letter-spacing: 0.03em;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    width: 231px;
    min-height: 21px;
    font-style: normal;
}

/*iconos del footer*/
.media__title
{
    color: $white;
    font-size: 14px;
    margin-left: 116px;
}

.media-links-container
{
    width: 206px;
    left: 516px;
    height: 80px;
    margin-left: 110px;
    display: flex;
    justify-content: space-evenly;
}

.media__link
{
    width: 44px;
    height: 44px;
    border-radius: 22px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.social-media__icon
{
    width: 20px;
    height: 20px;
    fill: $white;
}

.media__link:hover
{
    background-color: $blue;
}

/*form style*/
.send-section
{
    margin-left: 78px;
    display: flex;
    margin-left: 40px;
    display: flex;
}

.subscribe__title
{
    width: 275px;
    height: 16px;
    padding-bottom: 1%;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: $white;
}

.form__element
{
    display: flex;
    width: 358px;
    height: 50px;
    background-color: $bg-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}