@import "../utils/variables";


@media screen and (min-width: 768px)
{
    header
    {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dislay-menu__mobile
    {
        display: none;
    }

    .menu-toggle
    {
        margin-left: -500px;
    }
}

@media screen and (max-width: 1000px)
{

    .section-3,
    .overload
    {
        display: none;
    }

    .section-1,
    .container__fluid
    {
        min-width: 100%;
        background-image: linear-gradient(rgb(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/overlay.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px)
{

    .contact__responsive,
    .contact--hover
    {
        display: block;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        margin-left: -10%;
    }
}


@media screen and (max-width: 768px)
{
    .contact--hover
    {
        display: none;
    }

    nav
    {
        display: none;
    }
}


@media screen and (max-width: 768px)
{
    .container
    {
        max-width: 768px;
    }

    .team__work
    {
        display: grid;
        gap: 30px;
        margin-left: 7%;
    }

    .paragraph
    {
        display: grid;
        gap: 50px;
        margin-left: 7%;
    }

    .costumer-svg
    {
        width: calc(100vw/5);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 3%;
        gap: 15px
    }

    header
    {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title__team
    {
        text-align: left;
        margin-left: 5%;

    }

    .pop-up-modal,
    form,
    .form__text,
    .check__mark,
    {
        max-width: calc(100vw / 1.50);
        margin-left: 0;
        font-size: 12px;
    }

    .form__paragraph
    {
        max-width: 280px;
    }

    .close__button
    {
        margin-left: -33%;
    }

    .modal__button
    {
        margin-left: 60px;
    }

    footer .container
    {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .send-section
    {
        max-width: 100%;
        display: block;
    }

    .foot__add,
    .foot__button
    {
        margin-left: 20%;
    }

    .form__element
    {
        max-width: 70%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1000px)
{
    header
    {
        max-width: 1000px;
    }

    .contact__responsive,
    {
        margin-left: 50px;
    }

    .style__link
    {
        margin-right: 8px;
        margin-left: 8px;
    }

    .solutions__button
    {
        margin-left: 35%;
    }

    .container
    {
        max-width: 1000px;
    }

    .section
    {
        padding-top: 94px;
    }

    .team__work
    {
        max-width: 70%;
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 30px;
        margin-left: 10%;
    }

    .paragraph,
    .responsive__pargraph
    {
        max-width: 100%;
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 50px;
        margin-left: 10%;
    }

    .costumer-svg
    {
        width: calc(100vw/5);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10%;
        gap: 15px
    }

    .title__team
    {
        margin-left: -25%;
    }

    .pop-up-modal
    {
        margin-left: 0;
    }

    footer .container
    {
        flex-wrap: wrap;
        margin-left: 10%;

        .send-section
        {
            flex-direction: column;
        }

        .media__title
        {
            margin-left: 150px;
        }

        .foot__button
        {
            margin-left: 30%;
        }

        .subscribe__title
        {
            text-align: center;
            margin-left: 10%;
        }
    }

}