@import "../utils/variables";

@media screen and (min-width: 1200px)
{
    .container
    {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        /*border: 1px solid green;*/
    }

    .section
    {
        padding-top: 94px;
    }
}

@media screen and (max-width: 1000px)
{

    nav
    {
        display: none;
    }

    .section-1,
    .container__fluid
    {
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 768px)
{
    .dislay-menu__mobile
    {
        display: none;
    }

    .menu-toggle
    {
        margin-left: -50%;
    }

    .contact__responsive,
    .contact--hover
    {
        display: block;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        margin-left: -360%;
    }
}

@media screen and (max-width: 768px)
{

    .contact--hover
    {
        display: none;
    }
}

@media screen and (max-width: 480px) and (max-width: 765px)
{

    header
    {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title__team
    {
        text-align: left;
        margin-left: 3%;

    }

    .pop-up-modal,
    form,
    .form__text,
    .check__mark
    {
        max-width: calc(100vw / 1.50);
        margin-left: 0;
        font-size: 12px;
    }

    .form__paragraph
    {
        max-width: 280px;
    }

    .close__button
    {
        margin-left: -33%;
    }

    .modal__button
    {
        margin-left: 60px;
    }

    footer .container
    {
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .send-section
    {
        max-width: 100%;
        display: block;
    }

    .foot__add,
    .foot__button
    {
        margin-left: 20%;
    }

    .form__element
    {
        max-width: 70%;
    }
}